@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  /* Fontes Customizadas */
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Teia de Cores Efeito Viral */
  --color-background: #0c0c14;
  --color-surface: #14141f;
  --color-primary: #9d4edd;
  --color-secondary: #00ffcc;
  --color-text-muted: #94a3b8;
  --color-border-subtle: rgba(255, 255, 255, 0.05);

  /* Efeitos Especiais */
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  * {
    @apply border-border-subtle box-border m-0 p-0;
  }

  body {
    @apply bg-background text-white font-inter antialiased overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-outfit;
  }
}

/* Utilitários Customizados para LPs */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-br from-white to-zinc-500;
  }

  .text-gradient-primary {
    @apply bg-clip-text text-transparent bg-linear-to-br from-primary to-secondary;
  }

  .glass-card {
    @apply bg-white/2 backdrop-blur-xl border border-white/5 rounded-2xl;
  }
  
  .glass-card-hover {
    @apply hover:translate-y-[-5px] hover:border-primary/40 transition-all duration-300;
  }
}
